body {
	background: #333;
	color: #eee;
	font: 12px/150% 'Arial', sans-serif;
	padding: 4em;
	text-align: center;
}

h1 {
	color: cyan;
	font-size: 200%;
	margin-bottom: 2em;
}

.message {
	font-size: 300%;
	margin-bottom: 0.5em;
}

.now {
	color: gold;
	font-weight: bold;
}

